$c-primary: #fd7a00;
$theme-blue: #3296fa;
$theme-red: #da3838;
$title: 1.1rem;
$first-class-title: 0.9rem;
$second-class-title: 0.7rem;
$third-class-title: 0.5rem;
$textColor1: #4a4b4a;
$textColor1: #646464;
$textColor1: #888787;
$border: #f5f4f4;
$footerColor: #f0efef;
$shade: rgba( 0, 0, 0, 438);
$button-bac: linear-gradient(100deg , $start-base 0% , $base 100% );//按键渐变色背景